<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>To jest trzecia strona z parametrem {{ param }}</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta exercitationem ipsa non nostrum optio quidem repellat tempore ullam. Aspernatur, beatae cum doloribus expedita molestiae necessitatibus nihil non porro recusandae.

    <p>
        Przejdź do strony <a href="{% url 'links:first' %}">pierwszej</a>
    </p>
</body>
</html>